.table {
  width: 100%;
}

tr.editable-row {
  background-color: lightcyan;
}

td {
  min-width: 100px;
}

table .ng-container {
  margin: 0 20px;
}

.mat-icon {
  color: #011246;
  transition: color 0.3s ease;
}

.mat-icon:hover {
  color: rgb(255, 217, 91);;
}


